[Desktop Entry]
Name=Fcitx 5 Osk
GenericName=Input Method
Comment=Show Fcitx 5 Osk
Exec=/usr/bin/fcitx5-osk --show
Icon=fyi.fortime.Fcitx5Osk
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=false
